In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.concat([pd.read_csv('scrapperv11_1_200.csv'),
                pd.read_csv('scrapperv11_201_400.csv'),
                pd.read_csv('scrapperv11_401_600.csv'),
                pd.read_csv('scrapperv11_601_800.csv'),
                pd.read_csv('scrapperv11_801_1000.csv'),
                pd.read_csv('scrapperv11_1001_1500.csv'),
                pd.read_csv('scrapperv11_1501_2000.csv')], ignore_index=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25118 entries, 0 to 25117
Data columns (total 8 columns):
Unnamed: 0           25118 non-null int64
actors               24199 non-null object
date                 25118 non-null object
genres               25118 non-null object
movie                25118 non-null object
press_rating         9544 non-null float64
producers            24745 non-null object
spectators_rating    24761 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.5+ MB

In [5]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,actors,date,genres,movie,press_rating,producers,spectators_rating
0,Tye Sheridan ; Olivia Cooke ; Ben Mendelsohn ;,28 mars 2018,Science fiction ; Action ;,Ready Player One,4.2,Steven Spielberg ;,4.5
1,Franck Dubosc ; Alexandra Lamy ; Elsa Zylberst...,14 mars 2018,Comédie ;,Tout le monde debout,3.6,Franck Dubosc ;,4.3
2,Rooney Mara ; Joaquin Phoenix ; Chiwetel Ejiof...,28 mars 2018,Historique ; Drame ; Biopic ;,Marie Madeleine,2.2,Garth Davis ;,3.1
3,Arnaud Ducret ; Louise Bourgoin ; Timéo Bollan...,28 mars 2018,Comédie ;,"Les dents, pipi et au lit",2.6,Emmanuel Gillibert ;,3.6
4,Cécile de France ;,28 mars 2018,Documentaire ;,Blue,3.6,Keith Scholey ; Alastair Fothergill ;,4.0

### Notes

Columns analysis:
- movie (= name) not relevant
- date ?
- output is press_rating or spectators_rating

To do:
- Missing values
- Actors and Producer columns transformation (one column by actor/producer with 0/1)

In [6]:
df.describe()

       press_rating  spectators_rating
count   9544.000000       24761.000000
mean       3.195652           3.064981
std        0.754472           0.563385
min        0.000000           0.900000
25%        2.700000           2.800000
50%        3.200000           3.100000
75%        3.700000           3.400000
max        5.000000           4.700000

In [7]:
df = pd.concat([df, df['actors'].str.get_dummies(sep=" ; ")], axis=1)

In [8]:
df.head()

,actors,date,genres,movie,press_rating,producers,spectators_rating,'Rim'K' Brahmi-Benalla Abdelkrim,A. Martinez,A. Michael Baldwin,...,İlker Kızmaz,İnci Türkay,İsmail Hacıoğlu,Şafak Pekdemir,Şahan Gökbakar,Şahin K.,Şebnem Bozoklu,Şevket Çoruh,Şinasi Yurtsever,Şükrü Özyıldız
0,Tye Sheridan ; Olivia Cooke ; Ben Mendelsohn ;,28 mars 2018,Science fiction ; Action ;,Ready Player One,4.2,Steven Spielberg ;,4.5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Franck Dubosc ; Alexandra Lamy ; Elsa Zylberst...,14 mars 2018,Comédie ;,Tout le monde debout,3.6,Franck Dubosc ;,4.3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Rooney Mara ; Joaquin Phoenix ; Chiwetel Ejiof...,28 mars 2018,Historique ; Drame ; Biopic ;,Marie Madeleine,2.2,Garth Davis ;,3.1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arnaud Ducret ; Louise Bourgoin ; Timéo Bollan...,28 mars 2018,Comédie ;,"Les dents, pipi et au lit",2.6,Emmanuel Gillibert ;,3.6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Cécile de France ;,28 mars 2018,Documentaire ;,Blue,3.6,Keith Scholey ; Alastair Fothergill ;,4.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df = df.drop('actors', axis=1)

In [10]:
df.head()

,date,genres,movie,press_rating,producers,spectators_rating,'Rim'K' Brahmi-Benalla Abdelkrim,A. Martinez,A. Michael Baldwin,A.J. Buckley,...,İlker Kızmaz,İnci Türkay,İsmail Hacıoğlu,Şafak Pekdemir,Şahan Gökbakar,Şahin K.,Şebnem Bozoklu,Şevket Çoruh,Şinasi Yurtsever,Şükrü Özyıldız
0,28 mars 2018,Science fiction ; Action ;,Ready Player One,4.2,Steven Spielberg ;,4.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,14 mars 2018,Comédie ;,Tout le monde debout,3.6,Franck Dubosc ;,4.3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,28 mars 2018,Historique ; Drame ; Biopic ;,Marie Madeleine,2.2,Garth Davis ;,3.1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,28 mars 2018,Comédie ;,"Les dents, pipi et au lit",2.6,Emmanuel Gillibert ;,3.6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,28 mars 2018,Documentaire ;,Blue,3.6,Keith Scholey ; Alastair Fothergill ;,4.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df = pd.concat([df, df['producers'].str.get_dummies(sep=" ; ")], axis=1)

In [13]:
df.head()

,date,genres,movie,press_rating,producers,spectators_rating,'Rim'K' Brahmi-Benalla Abdelkrim,A. Martinez,A. Michael Baldwin,A.J. Buckley,...,Éric Hannezo,Éric Omond,Étienne Chatiliez,Óskar Thór Axelsson,Ömer Faruk Sorak,Özcan Alper,Özcan Deniz,Özgür Bakar,Şenol Sönmez,Şerif Gören
0,28 mars 2018,Science fiction ; Action ;,Ready Player One,4.2,Steven Spielberg ;,4.5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,14 mars 2018,Comédie ;,Tout le monde debout,3.6,Franck Dubosc ;,4.3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,28 mars 2018,Historique ; Drame ; Biopic ;,Marie Madeleine,2.2,Garth Davis ;,3.1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,28 mars 2018,Comédie ;,"Les dents, pipi et au lit",2.6,Emmanuel Gillibert ;,3.6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,28 mars 2018,Documentaire ;,Blue,3.6,Keith Scholey ; Alastair Fothergill ;,4.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df = df.drop('producers', axis=1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25118 entries, 0 to 25117
Columns: 37407 entries, date to Şerif Gören
dtypes: float64(2), int64(37402), object(3)
memory usage: 7.0+ GB

In [16]:
df = pd.concat([df, df['genres'].str.get_dummies(sep=" ; ")], axis=1)

In [17]:
df.head()

,date,genres,movie,press_rating,spectators_rating,'Rim'K' Brahmi-Benalla Abdelkrim,A. Martinez,A. Michael Baldwin,A.J. Buckley,A.J. Cook,...,Musical,Opera,Policier,Péplum,Romance,Science fiction,Show,Sport event,Thriller,Western
0,28 mars 2018,Science fiction ; Action ;,Ready Player One,4.2,4.5,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,14 mars 2018,Comédie ;,Tout le monde debout,3.6,4.3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,28 mars 2018,Historique ; Drame ; Biopic ;,Marie Madeleine,2.2,3.1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,28 mars 2018,Comédie ;,"Les dents, pipi et au lit",2.6,3.6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,28 mars 2018,Documentaire ;,Blue,3.6,4.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df.to_csv('data_processing_4.csv')