In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('scrapperv6.csv')
df.head()

,Unnamed: 0,actors,date,movie,press_rating,producer,spectators_rating
0,0,Rainn Wilson ; Ellen Page ; Liv Tyler ;,1 décembre 2011,Super,NaN,James Gunn (II),"3,5"
1,1,Jean-Paul Rouve ; Isabelle Nanty ; Claire Nade...,1 juillet 2011,Les Tuche,"2,3",Olivier Baroux,"2,6"
2,2,Leonardo DiCaprio ; Marion Cotillard ; Ellen P...,21 juillet 2010,Inception,"4,1",Christopher Nolan,"4,4"
3,3,Bruce Willis ; Morgan Freeman ; Helen Mirren ;,17 novembre 2010,Red,"2,8",Robert Schwentke,"3,5"
4,4,François Cluzet ; Marion Cotillard ; Benoît Ma...,20 octobre 2010,Les petits mouchoirs,"2,9",Guillaume Canet,"3,6"

In [5]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,actors,date,movie,press_rating,producer,spectators_rating
0,Rainn Wilson ; Ellen Page ; Liv Tyler ;,1 décembre 2011,Super,NaN,James Gunn (II),"3,5"
1,Jean-Paul Rouve ; Isabelle Nanty ; Claire Nade...,1 juillet 2011,Les Tuche,"2,3",Olivier Baroux,"2,6"
2,Leonardo DiCaprio ; Marion Cotillard ; Ellen P...,21 juillet 2010,Inception,"4,1",Christopher Nolan,"4,4"
3,Bruce Willis ; Morgan Freeman ; Helen Mirren ;,17 novembre 2010,Red,"2,8",Robert Schwentke,"3,5"
4,François Cluzet ; Marion Cotillard ; Benoît Ma...,20 octobre 2010,Les petits mouchoirs,"2,9",Guillaume Canet,"3,6"

### Notes

Columns analysis:
- movie (= name) not relevant
- date ?
- output is press_rating or spectators_rating

To do:
- Missing values
- Actors and Producer columns transformation (one column by actor/producer with 0/1)

In [6]:
df.describe()

,actors,date,movie,press_rating,producer,spectators_rating
count,407,409,409,377,409,408
unique,401,288,409,32,334,29
top,Jennifer Lawrence ; Josh Hutcherson ; Liam Hem...,8 mars 2017,Fast & Furious 7,"3,0",Denis Villeneuve,"4,1"
freq,3,4,1,28,5,38

In [32]:
def get_features(df, column):
    features = []
    for i in range(len(df)):
        line_features = str(df[column][i]).split(' ; ')
        for feature in line_features:
            if feature not in features:
                features.append(feature)
    if '' in features:
        features.remove('')
    return features

In [33]:
actors = get_features(df, 'actors') # 827 actors
producers = get_features(df, 'producer') # 334 producers

In [48]:
"Liv Tyler" in df.loc[0]['actors']

True

In [49]:
def create_binary_columns(df, l, column): # l is the list of features
    for i in range(len(df)):
        for elt in l:
            if elt in df.loc[i][column]:
                df[elt][i] = 1
            else:
                df[elt][i] = 0
        if i%20 == 0:
            print df[i]
    return df

In [ ]:
test = create_binary_columns(df, actors, 'actors')